# --- ESP-IDF / C++ Specific ---
build/
build_*_*/
sdkconfig
sdkconfig.old
partition_table_bin.bin
bootloader.bin
*.elf
*.map
*.bin
*.a
*.o

# --- PlatformIO Specific ---
.pio/
.pioenvs/
.piolibdeps/
.vscode/
.settings/

# --- IDEs ---
.vscode/
.idea/
.settings/
*.sublime-project
*.sublime-workspace

# --- OS Specific ---
.DS_Store
Thumbs.db

# --- Miscellaneous ---
*.pyc
*.log
